<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="">Title:</label>
        <input name="title" type="text"><br>
        <label for="">content</label>
        <input  name="content" type="text"><br>
        <label for="">slug</label>
        <input name="slug" type="text"><br>
        <button>submit</button>
    </form>
</body>
</html>